/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    background-color: rgb(226, 223, 223);
    padding: 2%;
}

#main {
    width: 300px;
    height: 615px;
    background-color: rgb(186, 186, 238);
    padding: 15px;
    margin: auto;
    box-shadow: 0 0 15px grey;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
}

.input {
    width: 290px;
    line-height: 25px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(80, 80, 221);
    padding-left: 5px;
}

label {
    font-size: 17px;
}

.star {
    color: red;
    font-size: 15px;
}


#heading {
    font-weight: 600;
}

#estimate {
    border: none;
}

#emi-btn {
    background-color: rgb(79, 79, 206);
    width: 100px;
    height: 25px;
    color: white;
    font-size: small;
    border: none;
    border-radius: 5px;
}

.btn2 {
    background-color: rgb(79, 79, 206);
    width: 80px;
    height: 30px;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

#emi-btn:hover {
    background-color: rgb(54, 54, 180);
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(54, 54, 180);
    cursor: pointer;
}

::placeholder {
    font-size: 12px;
}
